<footer>
  <mat-toolbar>
    <div class="logo">
      <img src="assets/images/logo-com-tagline.png" alt="Logo" />
      <p>Opening hours: 8am - 8pm (Monday to Saturday)</p>
      <p>Developed by Alura. Fictional non-commercial project.</p>
    </div>
    <span class="spacer"></span>
    <div class="socials">
      <p>Our socials:</p>
      <div class="socials__icons">
        <a href="">
          <img src="assets/icons/whatsapp.png" alt="" />
        </a>
        <a href="">
          <img src="assets/icons/instagram.png" alt="" />
        </a>
        <a href="">
          <img src="assets/icons/twitter.png" alt="" />
        </a>
      </div>
    </div>
  </mat-toolbar>
</footer>
